 <h1>Artist Search result :</h1>
 <div class="artist-search-result">
   <!-- <div class="artist-grid"> -->
   <% artistItems.forEach(artist => { %>

   <div class="artist-item">
     <p><%- artist.name %> <% if (artist.images[0]?.url) { %></p>

     <img src="<%- artist.images[1]?.url %>" alt="artist photo" class="spotifyImg" />


     <% }else{%>
     <p>No photo available</p>
     <%} %>

     <a href="/albums/<%- artist.id%>"><button class="button">View Albums</button></a>
   </div>


   <% }) %>
   <!-- </div> -->
 </div>