<div class="homePage-form">
  <h1>Celiaxify</h1>
  <form action="/artist-search" method="GET">
    <label class="form-class" for="artist">
      <input type="text" name="artist" class="artist-search" placeholder="Enter an artist" /></label>
    <button type="submit">Search for an Artist</button>
  </form>
</div>