body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.homePage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center;
  padding: 0px;
  height: 100vh;
  /* background-position: 50% 25%; */
}
.homePage-form h1 {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
}

.form-class input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;

  border: none;
  border-radius: 10px;
}
.form-class button {
}
