body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.homePage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center;
  padding: 0px;
  height: 100vh;
}
.homePage-form h1 {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
}

.form-class input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;

  border: none;
  border-radius: 10px;
}

.artist-search-result,
.album-search-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.artist-item,
.album-item {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.spotifyImg {
  width: 100%;
  max-width: 320px;
  max-height: 320px;
}

.artist-name {
  margin-top: 10px;
  font-weight: bold;
}

.button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.styled-table {
  border-collapse: collapse;
  font-size: 20px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
